<div class="container">
    <div class="content">
        <ul class="results">
            <li class="" ng-repeat="item in favorite.favorites">
                <div class="result-item" ng-click="favorite.showDetails(item)">
                    <div class="img-holder">
                        <img ng-src="{{item.thumb_url}}" alt="" height="{{item.thumb_height}}" width="{{item.thumb_width}}">
                    </div>
                    <div class="description">
                        <span class="price">{{item.price_formatted}}</span>
                        <br>
                        <span class="summary">{{item.summary}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
