<div class="container">
    <div class="top-bar">
        <div class="title">
            <h1>Property Cross</h1>
        </div>
        <div class="btn-holder">
            <a href="#" class="btn btn-default" ui-sref="favourites">Favarite</a>
        </div>
    </div>
    <div class="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam enim harum iure necessitatibus nihil optio rem similique sit unde.</p>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="newcastle" ng-model="placeName">
    </div>
    <div class="button-group">
        <button class="btn btn-default" ng-click="search.searchByPlaceName(placeName)">Go</button>
        <button class="btn btn-default" ng-click="search.getLocation()">My location</button>
    </div>
    <div ng-if="search.status === 'resent'">
        <p>Resent searches:</p>
        <ul class="history-list">
            <li ng-repeat="item in search.resentSearch">
                <span>{{item.title}}({{item.length}})</span>
            </li>
        </ul>
    </div>
    <div ng-if="search.status === 'error'">
        <p >{{search.errorMessage}}</p>
    </div>
    <div ng-if="search.status === 'location'">
        <p>Please select a location below:</p>
        <ul class="location-list">
            <li ng-repeat="loc in search.searchResult.locations">
                <span ng-click="search.showSearchResult(search.searchResult)">
                    {{loc.title}}
                </span>
            </li>
        </ul>
    </div>
</div>
