.top-panel {
  padding: 15px;
  text-align: center;
}
.results {
  list-style-type: none;
  padding: 0;
  li + li {
    margin-top: 10px;
  }
}
.result-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  .img-holder {
    max-width: 60px;
    width: 50%;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .description {
    padding: 0 10px;
  }
}

